<main class="overflow-x-hidden">
  <GloiresWorldWeb.Landing.navbar />
  <GloiresWorldWeb.Landing.hero />
  <GloiresWorldWeb.Landing.portfolio />
  <GloiresWorldWeb.Landing.about />
  <GloiresWorldWeb.Landing.services />
  <GloiresWorldWeb.Landing.testimonials />
  <GloiresWorldWeb.Landing.contact />
  <GloiresWorldWeb.Landing.footer />
</main>
